pytest
pytest-asyncio
#dont enforce version :)
youtube-comment-downloader
click
textblob
pydantic
requests


#content_curation_agent
aiohttp
newspaper3k
scholarly
spacy
transformers
beautifulsoup4
sumy
lxml[html_clean]