pytest
youtube-comment-downloader
click

#sentiment analysis
textblob

pydantic 



#ticker
yfinance


# Google API Libraries
google-auth-oauthlib
google-auth-httplib2
google-api-python-client




requests

